<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <title>{{title}}</title>
</head>
<body>
    <div class="background-container">
        <img src="/img/thrift4u-logo.png" alt="Background image">
      </div>
    {{#if user}}
    <header id = 'Welcome'>
    Welcome, {{user.username}}!
    </header>
    <style>
    .custom-restricted-width {
        /* To limit the menu width to the content of the menu: */
        display: inline-block;
        /* Or set the width explicitly: */
        /* width: 10em; */
    }
</style>
<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">Platform functions</span>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/platform" class="pure-menu-link">All items</a>
        </li>
        <li class="pure-menu-item">
            <a href="/postmyitem" class="pure-menu-link">Post my item</a>
        </li>
        <li class="pure-menu-item">
            <a href="/managemyitems" class="pure-menu-link">Manage my items</a>
        </li>
        <li class="pure-menu-heading">Account Settings</li>
        <li class="pure-menu-item">
            <a href="/changeusername" class="pure-menu-link">Change my username</a>
        </li>
        <li class="pure-menu-item">
            <a href="/changepwd" class="pure-menu-link">Change my password</a>
        </li>
        <li class="pure-menu-item">
            <a href="/changecontact" class="pure-menu-link">Change my contact</a>
        </li>
        <li class="pure-menu-item">
            <a href="/logout" class="pure-menu-link">logout</a>
        </li>
    </ul>
</div>
    {{/if}}
</body>
          {{{ body }}}
</html>