<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="background-container">
        <img src="img/thrift4u-logo.png" alt="Background image">
      </div>
    {{#if user}}
    <a>asdfas</a>
    <header>
    <nav>
    Welcome, {{user.username}}!
    </nav>
    </header>
    {{/if}}
      {{{ body }}}
</body>
</html>