<form class="pure-form pure-form-aligned" id = 'loginform'>
    <fieldset>
        <legend>Login to your account</legend>
        <div class="pure-control-group">
            <label for="login-name">Username</label>
            <input type="text" id="login-name" placeholder="Username" />
        </div>
        <div class="pure-control-group">
            <label for="login-password">Password</label>
            <input type="password" id="login-password" placeholder="Password" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button">Login</button>
        </div>
    </fieldset>
</form>