
<style>
    .custom-restricted-width {
        /* To limit the menu width to the content of the menu: */
        display: inline-block;
        /* Or set the width explicitly: */
        /* width: 10em; */
    }
</style>
<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">Platform functions</span>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">All items</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Post my item</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Manage my items</a>
        </li>
        <li class="pure-menu-heading">Account Settings</li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Change my username</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Change my password</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Change my contact</a>
        </li>
        <li class="pure-menu-item">
            <a href="/logout" class="pure-menu-link">logout</a>
        </li>
    </ul>
</div>