
<form class="pure-form pure-form-aligned" id = 'postmyitemform'method="POST" action="postmyitem" enctype="multipart/form-data">
    <fieldset>
        <legend>Post Your Item For Sale</legend>
        {{#if message}}
        <legend class="error">{{ message }}</legend>
        {{/if}}
        <div class="pure-control-group">
            <label for="itemname" >Item's name</label>
            <input type="text" id="itemname"  name ="itemname" required>
        </div>
        <div class="pure-control-group">
                <label for="category">Category</label>
                <select id="category" name = "category" required>
                <option>Clothes</option>
                <option>Education</option>
                <option>Entertainment</option>
                <option>Tool</option>
                <option>Others</option>
                 </select>
        </div>
        <div class="pure-control-group">
            <label for="price">Price</label>
            <input type="number" id="price"  name ="price" required>
        </div>
        <div class="pure-control-group">
                <label for="condition">Condition</label>
                <select id="condition" name = "condition" required>
                <option>Well Conditioned</option>
                <option>Little Stain</option>
                <option>Mild Usage</option>
                <option>Used a Lot</option>
                 </select>
        </div>
        <div class="pure-controls">
            <label for="oktobargain" class="pure-checkbox">  OK to Bargain 
            <input type="checkbox" id="oktobargain" name = "oktobargain">
            </label>
            <span class="pure-form-message-inline">Information below is optional</span>
        </div>
        <div class="pure-control-group">
            <label for="description" name = "description">Description</label>
            <textarea class="pure-input-1-2" name = "description"></textarea>
        </div>
         <div class="pure-control-group">
            <label for="image" name = "image">Image</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button">Post</button>
        </div>
    </fieldset>
</form>