
<form class="pure-form pure-form-aligned" id = 'postmyitemform'method="POST" action="postmyitem">
    <fieldset>
        <legend>Post Your Item For Sale</legend>
        {{#if message}}
        <legend class="error">{{ message }}</legend>
        {{/if}}
        <div class="pure-control-group">
            <label for="itemname">Item's name</label>
            <input type="text" id="itemname"  name ="itemname"/>
        </div>
        <div class="pure-control-group">
                <label for="category">Category</label>
                <select id="category">
                <option>Clothes</option>
                <option>Education</option>
                <option>Entertainment</option>
                <option>Tool</option>
                <option>Others</option>
                 </select>
        </div>
        <div class="pure-control-group">
            <label for="price">Price</label>
            <input type="text" id="price"  name ="price"/>
        </div>
        <div class="pure-control-group">
                <label for="condition">Condition</label>
                <select id="condition">
                <option>Well Conditioned</option>
                <option>Little Stain</option>
                <option>Mild Usage</option>
                <option>Used a Lot</option>
                 </select>
        </div>
        <div class="pure-controls">
            <label for="oktobargain" class="pure-checkbox">
            <input type="checkbox" id="oktogargain" /> OK to Bargain
            </label>
            <span class="pure-form-message-inline">Information below is optional</span>
        </div>
        <div class="pure-control-group">
            <label for="descrtiption">Descrtiption</label>
            <textarea class="pure-input-1-2" ></textarea>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button">Post</button>
        </div>
    </fieldset>
</form>