<form class="pure-form pure-form-aligned" id = 'registerform'>
    <fieldset>
        <legend>Register your account</legend>
        <div class="pure-control-group">
            <label for="register-name">Username</label>
            <input type="text" id="register-name" placeholder="Username" />
        </div>
        <div class="pure-control-group">
            <label for="register-password">Password</label>
            <input type="password" id="register-password" placeholder="Password" />
        </div>
        <div class="pure-control-group">
            <label for="register-name">Contact</label>
            <input type="text" id="register-contact" placeholder="Contact" />
            <span class="pure-form-message-inline">You can use your email, phone, wechatid,etc...</span>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button">Register</button>
        </div>
    </fieldset>
</form>