/* for formats of the layout */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
  }
  .background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .error{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    left: 50%;
    /* z-index: 3; */
    background-color: transparent;
  }
  #loginbutton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:transparent;
    font-size: 150%;
    opacity: 1;
  }
  #registerbutton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:transparent;
    font-size: 150%;
    opacity: 1;
  }
  #Welcome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:transparent;
    font-size: 200%;
    text-align: center;
    top :1%
  }
  .pure-menu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/* for formats of the login page */
#loginform{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
#loginform pure-controls button{
  background-color: transparent;
}

/* for formats of the register page */
#registerform{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
#registerform pure-controls button{
  background-color: transparent;
}

/* for formats of the changepwd page */
#changepwdform{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
#changepwdform pure-controls button{
  background-color: transparent;
}

/* for formats of the changeusername page */
#changeusernameform{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
#changeusernameform pure-controls button{
  background-color: transparent;
}

/* for formats of the changecontact page */
#changecontactform{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
#changecontactform pure-controls button{
  background-color: transparent;
}